n8n-crm-automation/CRM.json
{
  "name": "CRM",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        1060
      ],
      "id": "4d605a30-bffa-4b8f-9091-1fef60b604b9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qevnlRBDuKakt1Jx",
          "name": "MyFinancialLift"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get access with the knowledgebase",
        "workflowId": {
          "__rl": true,
          "value": "6eqSbul3Y4KmurCH",
          "mode": "list",
          "cachedResultName": "My Financial Lift Knowledge Base"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question', ``, 'string') }}"
          },
          "matchingColumns": [
            "question"
          ],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        1060
      ],
      "id": "b80bb05c-3015-418f-a496-8e4f2c353937",
      "name": "Knowledge Base"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        820,
        840
      ],
      "id": "d6d9df0a-1a7b-4fc3-8266-af3c6b76cdbd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        1060
      ],
      "id": "00559ec8-3f56-49e7-b72d-5609a259396b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3bce52a2-1067-430b-bd64-970965f7c297",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        840
      ],
      "id": "d4a6c8f2-61cf-493b-9c07-ca5571baf33d",
      "name": "Contact Form Webhook",
      "webhookId": "3bce52a2-1067-430b-bd64-970965f7c297",
      "notes": "Receives contact form submissions from Google Apps Script"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f90663b4-a237-418c-a7e6-fcfe08c9f404",
              "name": "full_name",
              "value": "={{ $json.body.firstName }} {{ $json.body.lastName }}",
              "type": "string"
            },
            {
              "id": "a2a1e605-c608-402c-986c-5302c12a0ef7",
              "name": "user_email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9fa58fe4-cb7f-4208-93fc-4600795b2d82",
              "name": "user_phone  ",
              "value": "={{ $json.body.phone }}",
              "type": "number"
            },
            {
              "id": "dd40b6af-a387-4a31-b90c-a24c010a4662",
              "name": "user_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "c1bebb19-24a2-4dba-881e-1aaefc6ee4a6",
              "name": "user_position",
              "value": "={{ $json.body.position }}",
              "type": "string"
            },
            {
              "id": "0a46fb1c-cab5-425f-8cf3-9f94fe5ea18e",
              "name": "user_address",
              "value": "={{ $json.body.streetAddress }}, {{ $json.body.city }}, {{ $json.body.region }}, {{ $json.body.country }}, {{ $json.body.postal }}",
              "type": "string"
            },
            {
              "id": "bcc9787a-5e4a-4d6d-997d-3368faae55c7",
              "name": "session_id",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "497ff4dd-6860-43f9-a900-aabe9a5ea224",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        840
      ],
      "id": "1e7a8cab-ffcc-4079-b3b4-5cd303ac74ca",
      "name": "Format Contact Data",
      "notes": "Formats and combines contact form data for easier use in workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.full_name }}: {{ $json.user_message }}",
        "options": {
          "systemMessage": "=You are a professional business assistant handling a client contact form inquiry. You need to provide a helpful response to their question and direct them to book an appointment.\n\nClient Information:\n- Name: {{ $json.full_name }}\n- Position:{{ $json.user_position }}\n- Location: {{ $json.user_address }}\n- Phone: {{ $json['user_phone  '] }}\n- Email: {{ $json.user_email }}\n\nTheir Question/Message:\n{{ $json.user_message }}\n\nINSTRUCTIONS:\n1. Provide a helpful, professional response to their inquiry (2-3 paragraphs)\n2. Address their specific needs and questions using the knowledge base node\n3. Direct them to book an appointment using our online scheduler\n\nFormat your response like this:\n\nDear {{ $json.full_name }},\n\nThank you for your inquiry about [summarize their question]. \n\n[Provide a comprehensive answer to their specific question - 2-3 paragraphs addressing their needs]\n\nI'd be happy to schedule a consultation to discuss this further. You can easily request an appointment by filling out our booking form:\n\n🗓️ **Request Your Appointment**: https://docs.google.com/forms/d/e/1FAIpQLSf7SlrirBF7u0jUveiskNQlBC5YnzOQIBYit65l476o0k0jZg/viewform?usp=header\n\nSimply fill out the form with your preferred date and time, and I'll confirm your appointment within 24 hours with meeting details.\n\nLooking forward to speaking with you!\n\nBest regards,\nMyFinancialLift"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        840
      ],
      "id": "1b41af1b-16e4-46f4-8334-8034bfd392de",
      "name": "Answer and Schedule Combined",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Contact Data').item.json.user_email }}",
        "subject": "=Re: Your inquiry - {{ $('Format Contact Data').item.json.full_name }}",
        "message": "=<div style=\"white-space: pre-line; font-family: Arial, sans-serif;\">  {{ $json.output }} </div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        600,
        840
      ],
      "id": "12fa74ca-3573-4580-884a-9e22e6e8a7d6",
      "name": "Send a message",
      "webhookId": "6c1dfad7-bdbe-4da2-be52-c4babd5f0677",
      "credentials": {
        "gmailOAuth2": {
          "id": "BlqlY9NEir5J4nZT",
          "name": "MyFinancialLift"
        }
      }
    },
    {
      "parameters": {
        "content": "## THIS IS THE MAIN FLOW OF MYFINANCIALLIFT\nFetch Data after user answer Contact Form and Send a link of Response Form \nAnswer user inquiries",
        "height": 560,
        "width": 1880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        680
      ],
      "typeVersion": 1,
      "id": "eb37979c-f4ab-44c0-8d2c-989ce9c88cb6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "myfinanciallift@gmail.com",
          "mode": "list",
          "cachedResultName": "myfinanciallift@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1340
      ],
      "id": "8c066e6f-2157-40d9-9177-b9947d0fcfce",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RAJNkrszguC0qPrz",
          "name": "MyFinancialLift"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw description from Google Calendar\nconst desc = $json.description || \"\";\nconst lines = desc.split(\"\\n\").map(l => l.trim()).filter(l => l !== \"\");\n\n// Extract fields based on position\nconst name = lines[1] || \"\";\nconst email = lines[2] || \"\";\nconst phone = lines[3] || \"\";\n\n// Booking date & time (your existing logic)\nlet bookingDate = \"\";\nlet bookingTime = \"\";\nif ($json.start?.dateTime) {\n  const startDateTimeStr = $json.start.dateTime;\n  const dateTimeParts = startDateTimeStr.split('T');\n  const datePart = dateTimeParts[0];\n  const timePart = dateTimeParts[1];\n  const timeOnly = timePart.split('+')[0].split('-')[0].split('Z')[0];\n  const timeHourMin = timeOnly.substring(0, 5);\n  \n  bookingDate = datePart;\n  bookingTime = timeHourMin;\n} else if ($json.start?.date) {\n  bookingDate = $json.start.date;\n  bookingTime = \"All Day\";\n}\n\n// Enhanced return with dashboard integration fields\nreturn [\n  {\n    json: {\n      // Original booking data\n      timestamp: new Date().toISOString(),\n      fullName: name,\n      email: email,\n      bookingDate: bookingDate,\n      bookingTime: bookingTime,\n      meetingType: $json.summary || \"\",\n      confirmationSent: \"No\",\n      \n      // Dashboard integration fields\n      client_lookup_email: email.toLowerCase().trim(),\n      appointment_datetime: `${bookingDate} ${bookingTime}`,\n      status_update: \"Appointment Scheduled\",\n      next_step_update: `Consultation on ${bookingDate} at ${bookingTime}`,\n      \n      // For client sheet updates\n      activity_log_entry: `${new Date().toLocaleDateString()}: Appointment scheduled for ${bookingDate} at ${bookingTime}`,\n      priority_flag: \"SCHEDULED\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1360
      ],
      "id": "a5e8f373-8112-4619-aea4-5c13a5914f2b",
      "name": "Code - Process Booking Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IgntdWHOGuoErKpGhjh_4bwUxd2FGVc6rldfwoiX-BU",
          "mode": "list",
          "cachedResultName": "Financial Lift",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgntdWHOGuoErKpGhjh_4bwUxd2FGVc6rldfwoiX-BU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1564940841,
          "mode": "list",
          "cachedResultName": "Booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgntdWHOGuoErKpGhjh_4bwUxd2FGVc6rldfwoiX-BU/edit#gid=1564940841"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Email": "={{ $json.email }}",
            "Full Name": "={{ $json.fullName }}",
            "Phone": "={{ $json.phone }}",
            "Booking Date": "={{ $json.bookingDate }}",
            "Meeting Type": "={{ $json.meetingType }}",
            "Booking Time": "={{ $json.bookingTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booking Date",
              "displayName": "Booking Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Type",
              "displayName": "Meeting Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confirmation Sent",
              "displayName": "Confirmation Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        500,
        1360
      ],
      "id": "7827138d-41bd-4fab-a37c-e2b514c22ee7",
      "name": "Append Booking sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DK4LGbUY5DkL16gw",
          "name": "MyFinancialLift"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer and Schedule Combined",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Answer and Schedule Combined",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Answer and Schedule Combined",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contact Form Webhook": {
      "main": [
        [
          {
            "node": "Format Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contact Data": {
      "main": [
        [
          {
            "node": "Answer and Schedule Combined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer and Schedule Combined": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Booking Data": {
      "main": [
        [
          {
            "node": "Append Booking sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Code - Process Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b84399e-0058-410e-a663-1d0be06e88c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d65af402cf4618f1686cfbe2122be5f50c690cd4a445a551ee33fc92dd1f710d"
  },
  "id": "Z3tCMC6scyA4mCwj",
  "tags": []
}
